In [1]:
#constants, paths
DATA_PATH='../data/raw/survey_results_public.csv'
EXPORT_PATH='../data/processed/1_preprocessed_df.pkl'

REPLACE_DICT = {
    'YearsCodePro': {'Less than 1 year': 0, 'More than 50 years': 51}, 
    'YearsCode':    {'Less than 1 year': 0, 'More than 50 years': 51}}

In [2]:
# Load packages
import numpy as np
import pandas as pd

In [3]:
#read data
raw_df = pd.read_csv(DATA_PATH)

----------------

# Functions

In [4]:
def Split_answer(column, delimiter=';'):
    """ 
    Split multiple answers in a single string 
    to a list of single strings each represnting a single answers 

    Parameters:
    
    * column : column name that has string series with answers 
    * delimiter (string): Another decimal integer 
                          Defaults to ";"

    """
    # 1. check if the column contains delimeters
    if (df[column].str.contains(';').any()):
        #2. split  if it contain multiple answers
        df[column]=df[column].str.split(';')
        
        #Handle null values: Replace NAs with empty lists 
        nulls=df[column].isnull()
        df[column].loc[nulls]=df[column].loc[nulls].apply(lambda x:[])
        
        print(df[column])

# Preprocess

In [5]:
df=raw_df.copy()

## 1. Handle  irrelavant data types

In [6]:
for column, replacment in REPLACE_DICT.items():
    df[column]= df[column].replace(replacment).astype(np.float32)
    print('-----------------------------------------------------------------------')
    print(column,'\n')
    print(df[column].unique())

-----------------------------------------------------------------------
YearsCodePro

[nan 10.  4.  5.  6.  2. 30.  9. 18. 12. 21.  1. 16.  0. 15.  3. 35.  7.
  8. 17. 14. 26. 25. 20. 50. 34. 11. 24. 22. 13. 31. 23. 39. 41. 27. 28.
 19. 33. 51. 37. 29. 32. 43. 40. 38. 45. 42. 46. 36. 44. 47. 48. 49.]
-----------------------------------------------------------------------
YearsCode

[nan  7. 17.  3.  4.  6. 16. 12. 15. 10. 40.  9. 26. 14. 39. 20.  8. 19.
  5.  0. 22.  2.  1. 34. 21. 13. 25. 24. 30. 31. 18. 38. 51. 27. 41. 42.
 35. 23. 28. 11. 37. 44. 43. 36. 33. 45. 29. 50. 46. 32. 47. 49. 48.]

## 2. Split Answers

In [7]:
for column in df.columns:
    # first check the type of the column
    if df[column].dtype == 'O':
        Split_answer(column, delimiter=';')

C:\Users\esraa\anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

0        [Coding Bootcamp, Other online resources (ex: ...
1        [Other online resources (ex: videos, blogs, et...
2        [Other online resources (ex: videos, blogs, et...
3                                                       []
4                                [Friend or family member]
                               ...
83434    [Other online resources (ex: videos, blogs, et...
83435    [Other online resources (ex: videos, blogs, et...
83436                                             [School]
83437    [Online Courses or Certification, Books / Phys...
83438                                             [School]
Name: LearnCode, Length: 83439, dtype: object
0                                      [Developer, mobile]
1                                                       []
2                                                       []
3                                   [Developer, front-end]
4        [Developer, desktop or enterprise applications...
                               ...
83434                                [Developer, back-end]
83435                              [Developer, full-stack]
83436    [Data scientist or machine learning specialist...
83437                                [Developer, back-end]
83438    [Developer, front-end, Developer, full-stack, ...
Name: DevType, Length: 83439, dtype: object
0        [C++, HTML/CSS, JavaScript, Objective-C, PHP, ...
1                                     [JavaScript, Python]
2                           [Assembly, C, Python, R, Rust]
3                                 [JavaScript, TypeScript]
4                      [Bash/Shell, HTML/CSS, Python, SQL]
                               ...
83434                               [Clojure, Kotlin, SQL]
83435                                                   []
83436                               [Groovy, Java, Python]
83437            [Bash/Shell, JavaScript, Node.js, Python]
83438         [Delphi, Elixir, HTML/CSS, Java, JavaScript]
Name: LanguageHaveWorkedWith, Length: 83439, dtype: object
0                                                  [Swift]
1                                                       []
2                                    [Julia, Python, Rust]
3                                 [JavaScript, TypeScript]
4                      [Bash/Shell, HTML/CSS, Python, SQL]
                               ...
83434                                            [Clojure]
83435                                                   []
83436                                       [Java, Python]
83437                                           [Go, Rust]
83438    [Elixir, HTML/CSS, Java, JavaScript, Node.js, ...
Name: LanguageWantToWorkWith, Length: 83439, dtype: object
0                                     [PostgreSQL, SQLite]
1                                             [PostgreSQL]
2                                                 [SQLite]
3                                                       []
4                       [Elasticsearch, PostgreSQL, Redis]
                               ...
83434                                     [Oracle, SQLite]
83435    [Firebase, MariaDB, MySQL, PostgreSQL, Redis, ...
83436    [DynamoDB, Elasticsearch, MongoDB, PostgreSQL,...
83437    [Cassandra, Elasticsearch, MongoDB, PostgreSQL...
83438                                 [Oracle, PostgreSQL]
Name: DatabaseHaveWorkedWith, Length: 83439, dtype: object
0                                                 [SQLite]
1                                                       []
2                                                 [SQLite]
3                                                       []
4            [Cassandra, Elasticsearch, PostgreSQL, Redis]
                               ...
83434                                             [SQLite]
83435    [Firebase, MariaDB, MongoDB, MySQL, PostgreSQL...
83436                                    [DynamoDB, Redis]
83437                                                   []
83438    [Elasticsearch, MongoDB, MySQL, Oracle, Postgr...
Name: DatabaseWantToWorkWith, Length: 83439, dtype: object
0                                  []
1                                  []
2                            [Heroku]
3                                  []
4                                  []
                     ...
83434                           [AWS]
83435                              []
83436    [AWS, Google Cloud Platform]
83437                        [Heroku]
83438               [Microsoft Azure]
Name: PlatformHaveWorkedWith, Length: 83439, dtype: object
0                         []
1                         []
2                         []
3                         []
4                         []
                ...
83434                  [AWS]
83435                     []
83436                  [AWS]
83437    [AWS, DigitalOcean]
83438                  [AWS]
Name: PlatformWantToWorkWith, Length: 83439, dtype: object
0                                       [Laravel, Symfony]
1                                 [Angular, Flask, Vue.js]
2                                                  [Flask]
3                                        [Angular, jQuery]
4                                                  [Flask]
                               ...
83434                                                   []
83435    [Django, jQuery, Laravel, React.js, Ruby on Ra...
83436                                     [FastAPI, Flask]
83437                   [Django, Express, Flask, React.js]
83438                                    [Angular, Spring]
Name: WebframeHaveWorkedWith, Length: 83439, dtype: object
0                                                       []
1                                                       []
2                                                  [Flask]
3                                        [Angular, jQuery]
4                                                  [Flask]
                               ...
83434                                                   []
83435    [Django, Express, jQuery, Laravel, React.js, R...
83436                                     [FastAPI, Flask]
83437                                                   []
83438                  [Express, Laravel, Spring, Symfony]
Name: WebframeWantToWorkWith, Length: 83439, dtype: object
0                                                []
1                                         [Cordova]
2        [NumPy, Pandas, TensorFlow, Torch/PyTorch]
3                                                []
4             [Apache Spark, Hadoop, NumPy, Pandas]
                            ...
83434                                            []
83435                                 [Flutter, Qt]
83436                [Hadoop, Keras, NumPy, Pandas]
83437    [NumPy, Pandas, TensorFlow, Torch/PyTorch]
83438                                            []
Name: MiscTechHaveWorkedWith, Length: 83439, dtype: object
0                                                       []
1                                                       []
2        [Keras, NumPy, Pandas, TensorFlow, Torch/PyTorch]
3                                                       []
4                                  [Hadoop, NumPy, Pandas]
                               ...
83434                                                   []
83435                                                   []
83436    [Apache Spark, Hadoop, Keras, NumPy, Pandas, T...
83437           [NumPy, Pandas, TensorFlow, Torch/PyTorch]
83438                                                   []
Name: MiscTechWantToWorkWith, Length: 83439, dtype: object
0                                       []
1                      [Docker, Git, Yarn]
2                                       []
3                                       []
4          [Docker, Git, Kubernetes, Yarn]
                       ...
83434                        [Docker, Git]
83435       [Git, Unity 3D, Unreal Engine]
83436    [Ansible, Docker, Git, Terraform]
83437    [Ansible, Docker, Git, Terraform]
83438                        [Docker, Git]
Name: ToolsTechHaveWorkedWith, Length: 83439, dtype: object
0                                          []
1                                       [Git]
2                                          []
3                                          []
4             [Docker, Git, Kubernetes, Yarn]
                         ...
83434                       [Git, Kubernetes]
83435               [Docker, Git, Kubernetes]
83436    [Docker, Git, Kubernetes, Terraform]
83437                 [Kubernetes, Terraform]
83438               [Docker, Git, Kubernetes]
Name: ToolsTechWantToWorkWith, Length: 83439, dtype: object

0                                        [PHPStorm, Xcode]
1           [Android Studio, IntelliJ, Notepad++, PyCharm]
2        [IPython/Jupyter, PyCharm, RStudio, Sublime Te...
3                                                       []
4         [Atom, IPython/Jupyter, Notepad++, PyCharm, Vim]
                               ...
83434    [IntelliJ, Sublime Text, Vim, Visual Studio Code]
83435    [Android Studio, Eclipse, Emacs, IntelliJ, Net...
83436    [Android Studio, Eclipse, IntelliJ, IPython/Ju...
83437                              [PyCharm, Sublime Text]
83438                       [IntelliJ, Visual Studio Code]
Name: NEWCollabToolsHaveWorkedWith, Length: 83439, dtype: object
0                                            [Atom, Xcode]
1                                                       []
2        [IPython/Jupyter, RStudio, Sublime Text, Visua...
3                                                       []
4        [Atom, IPython/Jupyter, Notepad++, PyCharm, Vi...
                               ...
83434                                  [Sublime Text, Vim]
83435    [Emacs, IntelliJ, PHPStorm, PyCharm, RStudio, ...
83436          [IntelliJ, IPython/Jupyter, Notepad++, Vim]
83437                                                   []
83438             [IntelliJ, PHPStorm, Visual Studio Code]
Name: NEWCollabToolsWantToWorkWith, Length: 83439, dtype: object
0        [Call a coworker or friend, Visit Stack Overfl...
1                        [Visit Stack Overflow, Google it]
2        [Visit Stack Overflow, Google it, Watch help /...
3        [Call a coworker or friend, Visit Stack Overfl...
4        [Visit Stack Overflow, Go for a walk or other ...
                               ...
83434               [Call a coworker or friend, Google it]
83435    [Call a coworker or friend, Visit Stack Overfl...
83436    [Call a coworker or friend, Visit Stack Overfl...
83437    [Call a coworker or friend, Visit Stack Overfl...
83438    [Call a coworker or friend, Visit Stack Overfl...
Name: NEWStuck, Length: 83439, dtype: object
0                                         [Stack Overflow]
1                                         [Stack Overflow]
2                         [Stack Overflow, Stack Exchange]
3                                         [Stack Overflow]
4                         [Stack Overflow, Stack Exchange]
                               ...
83434                     [Stack Overflow, Stack Exchange]
83435                     [Stack Overflow, Stack Exchange]
83436                     [Stack Overflow, Stack Exchange]
83437                                     [Stack Overflow]
83438    [Stack Overflow, Stack Exchange, Stack Overflo...
Name: NEWSOSites, Length: 83439, dtype: object
0        [Man]
1        [Man]
2        [Man]
3        [Man]
4        [Man]
         ...
83434    [Man]
83435    [Man]
83436    [Man]
83437    [Man]
83438    [Man]
Name: Gender, Length: 83439, dtype: object
0        [Straight / Heterosexual]
1        [Straight / Heterosexual]
2              [Prefer not to say]
3        [Straight / Heterosexual]
4                               []
                   ...
83434    [Straight / Heterosexual]
83435    [Straight / Heterosexual]
83436                           []
83437    [Straight / Heterosexual]
83438    [Straight / Heterosexual]
Name: Sexuality, Length: 83439, dtype: object
0        [White or of European descent]
1        [White or of European descent]
2                   [Prefer not to say]
3        [White or of European descent]
4        [White or of European descent]
                      ...
83434    [White or of European descent]
83435     [Black or of African descent]
83436    [White or of European descent]
83437    [White or of European descent]
83438          [Hispanic or Latino/a/x]
Name: Ethnicity, Length: 83439, dtype: object
0                  [None of the above]
1                  [None of the above]
2                  [None of the above]
3        [I am deaf / hard of hearing]
4                  [None of the above]
                     ...
83434              [None of the above]
83435              [None of the above]
83436              [None of the above]
83437              [None of the above]
83438              [None of the above]
Name: Accessibility, Length: 83439, dtype: object
0                                      [None of the above]
1                                      [None of the above]
2                                      [None of the above]
3                                                       []
4                                                       []
                               ...
83434    [I have a concentration and/or memory disorder...
83435                                  [None of the above]
83436                                  [None of the above]
83437    [I have a mood or emotional disorder (e.g. dep...
83438                                  [None of the above]
Name: MentalHealth, Length: 83439, dtype: object

In [8]:
# another way to know object column
object_cols = df.select_dtypes(include='object').columns.tolist()
# object_cols

----------------

# Visually verify results

In [9]:
#check sample
df.sample(1).iloc[0]

ResponseId                                                                  41337
MainBranch                                 I am a student who is learning to code
Employment                                     Not employed, but looking for work
Country                                                                 Sri Lanka
US_State                                                                      NaN
UK_Country                                                                    NaN
EdLevel                         Secondary school (e.g. American high school, G...
Age1stCode                                                          11 - 17 years
LearnCode                       [Other online resources (ex: videos, blogs, et...
YearsCode                                                                     6.0
YearsCodePro                                                                  NaN
DevType                                          [Developer, full-stack, Student]
OrgSize                                                                       NaN
Currency                                                                      NaN
CompTotal                                                                     NaN
CompFreq                                                                      NaN
LanguageHaveWorkedWith          [C, C#, HTML/CSS, Java, JavaScript, Matlab, PH...
LanguageWantToWorkWith          [C#, C++, HTML/CSS, Java, JavaScript, Julia, N...
DatabaseHaveWorkedWith           [Firebase, MariaDB, Microsoft SQL Server, MySQL]
DatabaseWantToWorkWith                                 [Firebase, MariaDB, MySQL]
PlatformHaveWorkedWith                                    [Google Cloud Platform]
PlatformWantToWorkWith                                    [Google Cloud Platform]
WebframeHaveWorkedWith              [Angular.js, ASP.NET Core , jQuery, React.js]
WebframeWantToWorkWith              [Angular.js, ASP.NET Core , jQuery, React.js]
MiscTechHaveWorkedWith                            [.NET Framework, NumPy, Pandas]
MiscTechWantToWorkWith                            [.NET Framework, NumPy, Pandas]
ToolsTechHaveWorkedWith                                                     [Git]
ToolsTechWantToWorkWith                                                     [Git]
NEWCollabToolsHaveWorkedWith    [Android Studio, IntelliJ, IPython/Jupyter, Ne...
NEWCollabToolsWantToWorkWith    [Android Studio, IntelliJ, IPython/Jupyter, Ne...
OpSys                                                                       MacOS
NEWStuck                        [Visit Stack Overflow, Google it, Watch help /...
NEWSOSites                                       [Stack Overflow, Stack Exchange]
SOVisitFreq                                       A few times per month or weekly
SOAccount                                                                     Yes
SOPartFreq                                    Less than once per month or monthly
SOComm                                                                    Neutral
NEWOtherComms                                                                  No
Age                                                               18-24 years old
Gender                                                                      [Man]
Trans                                                                         Yes
Sexuality                                                              [Bisexual]
Ethnicity                                                           [South Asian]
Accessibility                               [I am blind / have difficulty seeing]
MentalHealth                    [I have a mood or emotional disorder (e.g. dep...
SurveyLength                                                             Too long
SurveyEase                                                                   Easy
ConvertedCompYearly                                                           NaN
Name: 41336, dtype: object

In [10]:
i=df.sample(1).index[0]
print(raw_df['LanguageHaveWorkedWith'].iloc[i])
print(df['LanguageHaveWorkedWith'].iloc[i])

Assembly;Bash/Shell;C;C++;HTML/CSS;PowerShell;SQL;VBA
['Assembly', 'Bash/Shell', 'C', 'C++', 'HTML/CSS', 'PowerShell', 'SQL', 'VBA']

In [11]:
print(raw_df['DevType'].iloc[i])
print(df['DevType'].iloc[i])

Developer, front-end;Developer, back-end;Data or business analyst
['Developer, front-end', 'Developer, back-end', 'Data or business analyst']

In [12]:
print(raw_df['YearsCodePro'].iloc[i])
print(df['YearsCodePro'].iloc[i])

23
23.0

---

# Export Data

In [14]:
df.to_pickle(EXPORT_PATH)

----------------